
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<form method="post">
    <input type="hidden" value="@Model.id" name="Id" />
    <input type="text" value="@Model.name" placeholder="Name" name="Name" class="form-control" />
    <input type="submit" value="Edit" class="btn btn-success" />

</form>
