
@{
    ViewBag.Title = "Create";
}

<h2 class="mb-4">Create</h2>
<form method="post">
    <input type="text" class="form-control mb-4" placeholder="Name" name="Name" />
    <input type="text" class="form-control mb-4" placeholder="Cgpa" name="Cgpa" />
    <input type="text" class="form-control mb-4" placeholder="Department" name="Dept" />
    <input type="submit" class="btn btn-success mb-4" value="Create" />
</form>